@media (min-width: 320px) and (max-width: 1024px){
    body{
        margin: 0;
    }
    header {
        background-color: #1B632B;
        width: 100%;
        display: grid;
      justify-content: center;
        
    }
    
    .logo-principal {
    margin: 5px;
    padding: 3px;
    text-align: center;
    
}
.titulo{
    text-align: center;
}
.email label{
   
    font-size: 20px;
}
.email{
    margin: auto;
    
    margin-top: 15%;
}
.email input{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    border: solid black 0.1px;
}
.spacer{
    padding-bottom: 75px;
}
footer{
    width: 100%;
    background-color: #1B632B;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.rodape{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;

}
.rodape img{
    display: inline-flex;
    padding: 25px;
    padding-top: 5px;
}
}